<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true />
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Picker</string>
		<key>CFBundleLocalizations</key>
		<array>
			<string>tr</string>
			<string>en</string>
		</array>
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeName</key>
				<string>Picker</string>
				<key>LSHandlerRank</key>
				<string>Default</string>
			</dict>
		</array>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Konumunuzu belirlemek için uygulamamızın konum verilerine erişmesi gerekiyor.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Bu izin, kullanıcının konumunu belirlemek için kullanılan diğer izinlerin yanı sıra gereklidir. Lütfen uygulamamızın konum verilerine erişmesine izin verin.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Konumunuzu belirlemek için uygulamamızın konum verilerine erişmesi gerekiyor.</string>
		<key>CFBundleGetInfoString</key>
		<string></string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>7.0</string>
		<key>CFBundleName</key>
		<string>picker</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>368</string>
		<key>FirebaseAppDelegateProxyEnabled</key>
		<true />
		<key>ITSAppUsesNonExemptEncryption</key>
		<false />
		<key>LSApplicationCategoryType</key>
		<string>public.app-category.business</string>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>LSSupportsOpeningDocumentsInPlace</key>
		<true />
		<key>NSHumanReadableCopyright</key>
		<string></string>
		<key>NSCameraUsageDescription</key>
		<string>QR kodu okutabilmek için lütfen bunu onaylayın.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Fotoğraflarınıza erişmek için lütfen bunu onaylayın.</string>
		<key>NSUserTrackingUsageDescription</key>
		<string>Uygulama herhangi bir hata aldığında bize haber vermesi için lütfen bunu onaylayın.</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true />
		<!-- <key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>location</string>
			<string>remote-notification</string>
		</array> -->
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen.storyboard</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIRequiresFullScreen</key>
		<true />
		<key>UIStatusBarHidden</key>
		<false />
		<key>UIStatusBarStyle</key>
		<string></string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportsDocumentBrowser</key>
		<true />
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false />
	</dict>
</plist>