<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rewrite to index.html" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <!-- İzin verilen dosyalar ve dizinler hariç tutuluyor -->
            <add input="{REQUEST_URI}" pattern="^/(index\.html|assets|robots\.txt|favicon\.png)"
              negate="true" />
            <!-- Mevcut dosyalar ve dizinler hariç tutuluyor -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="response" enabled="true">
          <match serverVariable="RESPONSE_SERVER" pattern="(.*)" />
          <action type="Rewrite" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>
  